[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
nbconvert = "==6.5.3"
import-ipynb = "==0.1.4"
seaborn = "==0.11.2"
matplotlib = "==3.5.3"
pandas = "==1.4.3"
numpy = "==1.23.1"
xgboost = "==1.6.1"
sklearn = "==0.0"
mlflow = "==1.28.0"
argparse = "==1.4.0"
hyperopt = "==0.2.7"
prefect = "==2.0b5"
boto3 = "==1.21.21"
s3fs = "==2022.7.1"
pyarrow = "==9.0.0"
flask = "==2.2.2"
gunicorn = "==20.1.0"
pymongo = "==4.2.0"
evidently = "==0.1.55.dev0"
requests = "==2.28.1"
prometheus-client = "==0.11.0"

[dev-packages]
pytest = "==7.1.2"

[requires]
python_version = "3.8"
