[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
import-ipynb = "*"
seaborn = "*"
matplotlib = "*"
pandas = "*"
numpy = "*"
xgboost = "*"
sklearn = "*"

[requires]
python_version = "3.8"
