[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
nbconvert = "*"

[dev-packages]
import-ipynb = "*"
seaborn = "*"
matplotlib = "*"
pandas = "*"
numpy = "*"
xgboost = "*"
sklearn = "*"
mlops = "*"
mlflow = "*"
argparse = "*"
hyperopt = "*"
prefect = "==2.0b5"
boto3 = "*"
s3fs = "*"
pyarrow = "*"

[requires]
python_version = "3.8"
